pandas
numpy
scikit-learn
mlflow
fastapi
uvicorn
docker
prometheus-client
grafana
pytest
ydata-profiling
sweetviz
matplotlib
seaborn
xgboost
lightgbm
dask[dataframe]
optuna
shap
tensorflow
statsmodels
joblib
ipywidgets
jupyter
